{% extends "base.html" %}

{% block title %}

Actuarized!

{% endblock %}

{% block login %}

<a class="login-link" href="/">back</a>

{% endblock %}

{% block heading %}

Congress has been <em class="actuarize">Actuarized</em>&nbsp;!

{% endblock %}

{% block content %}
<div class="actutext">
	<h2>We were able to analyze {{num}} members of Congress:</h2>
	<p>
		These people:
	</p>

	{% for name,bid in cong_info %}
	<a href="http://bioguide.congress.gov/scripts/biodisplay.pl?index={{bid}}" target="_blank"><img class="cong_pic" src="http://assets.sunlightfoundation.com/moc/100x125/{{bid}}.jpg" title="{{name}}" /></a>
	{% endfor %}

	<p>
		There is a 5% chance that one of these congresspeople will die within {{sy05}} years (by {{sd05}}).
	</p>
	<p>
		There is a 50% chance that someone will die within {{sy50}} years (by {{sd50}}).
	</p>
	<p>
		By {{sd95}}*, there is a great chance (95%) that someone will be dead.
	</p>
	<p class="actucomment">
		*That's {{sy95}} years away.
	</p>
	<br />
	{% if ey05 %}

	<p>
		There is a 5%  chance that all of these congresspeople will be dead in {{ey05}} years (by {{ed05}}).
	</p>
	<p>
		There is a 50% chance that everyone will die within {{ey50}} years (by {{ed50}}).
	</p>
	<p>
		By {{ed95}}*, there is a great chance (95%) that everyone will be dead.
	</p>
	<p class="actucomment">
		*That's {{ey95}} years away.
	</p>
	<br />
	{% endif %}

	<p>
		Will these congresspeople live see the <a class="login-link" href="http://en.wikipedia.org/wiki/Technological_singularity" target="_blank">Singularity</a>?
	</p>
	{% if evprintable %}
	<p>
		Probability of all dying by 2045: {{evprintable}}%
	</p>
	{% endif %}
	<p>
		Probability of a death by 2045: {{smprintable}}%
	</p>

	<div class="actudisclaim">
		<p>
			This website is for entertainment purposes only and does not produce highly-scientific results.
			The analysis is based on the script
			<a href="http://blog.xkcd.com/2012/07/12/a-morbid-python-script/" target="_blank">actuary.py</a>
			from the geniuses at
			<a href="http://xkcd.com/" target="_blank">xkcd</a>.
			It simply estimates probability of mortality based on standard actuarial tables for your
			friends who provide full birthdates (with year). Many factors can change any person's expected lifespan, including
			individual health factors, lifestyle and personal genetic makeup. Morbid, maybe. Based on science, sure. But, in general,
			this is for fun and the analytical rigor is low. Besides, none of this matters if you plan to
			<a href="http://en.wikipedia.org/wiki/Technological_singularity">live past 2045</a>.
			Learn more about actuarial/life tables
			<a href="http://en.wikipedia.org/wiki/Life_table" target="_blank">here</a>.
		</p>
	</div>
</div>

{% endblock %}
