{% extends "base.html" %}

{% block title %}

Actuarize!

{% endblock %}


{% block login %}

<a class="login-link" href="/">home</a>

{% endblock %}


{% block heading %}

Actuarize Congress

{% endblock %}
{% block content %}
<form method="post">

	<h3>Enter a state:</h3>
	<input type="text" name="state">
	<p>-OR-</p>
	<h3>Enter a party:</h3>
	<input type="text" name="party">
	<br />
	<br />
	<input class="button" type="submit" value="Actuarize!">

</form>

{% endblock %}

