{% extends "base.html" %}

{% block title %}

Actuarize!

{% endblock %}

{% block login %}

{% endblock %}

{% block heading %}

Welcome to Actuarize.appspot.com!

{% endblock %}

{% block content %}
<p>
	Actuarize is a made-up portmaneau derived from the word <em>actuary</em> and the suffix <em>-ize</em>.
	Through actuarial tables, an <a href="http://www.thefreedictionary.com/actuary" target="_blank">actuary</a> 
	can compute the probability of death based on the age and sex of a person.
	The suffix <em>-ize</em> is a <a href="http://en.wikipedia.org/wiki/Morpheme#Free_vs._bound">derivational morpheme</a> 
	that changes a base word (<em>noun</em> or <em>adjective</em>) into a <em>verb</em>.
</p>
<p>
	For our purposes, to actuarize is "to calculate the probability a person or group of people will die by a certain date".
</p>

<h2> Sound like fun? Give it a shot. </h2>
<ul>
	<li>
		<h3><a href="/act">Play with the Actuarizer</a>:</h3>
		<p>
			Enter the ages of your male and female friends. Actuarize the people in the room. Actuarize your family! Actuarize yourself!
		</p>
	</li>
	<li>
		<h3><a href="/fbactuarized">Actuarize your Facebook friends</a>:</h3>
		<p>
			The actuarizer will analize all of your friends who are comfortable disclosing their age to you on Facebook.
		</p>
	</li>
	<li>
		<h3><a href="/tmdb-form">Actuarize your favorite movie</a>:</h3>
		<p>
			Actuarize the actors in your favorite movie. Find out which ones are already dead... Powered by <a href="http://www.themoviedb.org/" target="_blank">themoviedb.org</a>
		</p>
	</li>
	<li>
		<h3><a href="/congress-form">Actuarize Congress</a>:</h3>
		<p>
			Actuarize the members of a given Senate or Congressional district.
		</p>
	</li>

</ul>
<h2> That's depressing, get me out of here!</h2>
<p>
	Okay... Watch <a href="http://youtu.be/HECa3bAFAYk">this kitten video</a> instead.
</p>
{% endblock %}
