{% extends "base.html" %}

{% block script %}
<script>
	$(document).ready(function() {
		$('#oopsbutton').button()
	}); 
</script>

{% endblock %}

{% block title %}

OOPS!

{% endblock %}

{% block login %}

<a class="login-link" href="/tmdb-form">back</a>

{% endblock %}

{% block heading %}

{% endblock %}

{% block content %}
<div class="main-content">
	<div id='imholder'>
		<img id="logo-img" src="/images/actuarize_logo.png" />
	</div>
	<h3 class="hasbeen">is having a hard time...</h3>
	<br>
	<br>
	<p class="sayit">
		We couldn't process "{{movie}}"... Try selecting one of the titles from the autocomplete list or adding a year to your query.
	</p>

	{% if movie_id %}
	<br>
	<p class="sayit" >
		It is also quite possible that the movie is too old (i.e. everyone is already dead) or there is not enough data to adequately process the cast. Try heading over to
		<a href="http://www.themoviedb.org/movie/{{movie_id}}" target="_blank" >themoviedb.org</a> to see what's up. Feel free to sign up for an account and add some data.
		In order to be analyzed by actuarize, each actor needs a birthday field and a profile with either the word "actor/actress" or enough male or female pronouns to infer their gender. 
		A picture is nice as well.
	</p>
	{% endif %}
	<br>
	<br>
	<a id="oopsbutton" href="/tmdb-form">Try Again?</a>
</div>

{% endblock %}
